<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Movie Gallery</title>
    <link rel="stylesheet" type="text/css" href="./styles.css" />
  </head>
  <body>
    <%- include('header') %>
    <main class="main-content">
      <h1>Welcome to the Movie Gallery</h1>
      <div class="releasedMovieButton">
        <a href="/generate-random-movies">
          <button>Generate More Movies!</button>
        </a>
      </div>
      <div class="buttonContainer">
        <div class="fictionalMovieButton">
          <a href="/generate-fictional-movies">
            <button>Generate Fictional Movies!</button>
            <!-- Make new function for this. BS OCT 21-->
          </a>
        </div>
      </div>
      <div class="outerMovieBox">
        <% movies.forEach(movie => { %>
        <a href="/movie/<%= movie.id %>" class="movieCard">
          <h2><%= movie.title %> (<%= movie.releaseYear %>)</h2>
          <img
            src="<%= movie.thumbnail %>"
            alt="<%= movie.title %> Poster"
            height="400px"
            width="300px"
          />
          <p><%= movie.description %></p>
          <p>Rating: <%= movie.rating %> / 10</p>
        </a>
        <% }) %>
      </div>
    </main>
  </body>
</html>

<!-- General idea (based off sprint docs)
      - Home page consisting of 9 random movies (probably in their own div cards)
      - each movie should display their: title, release year, rating (out of 10)
      - clicking on movie will bring you to it's page
      -considering we are using ratings, we won't pull fictional movies on home page. 
          Maybe can have a separate button on home page to "Load fictional movie"
-->
