<html lang="en">
  <head>
    <title>Top Movies</title>
    <link rel="stylesheet" type="text/css" href="./styles.css" />
  </head>
  <body>
    <%- include('header') %>
    <main class="main-content">
      <h1>Top Movies</h1>
      <div class="outerMovieBox">
        <% movies.forEach(movie => { %>
        <a href="/movie/<%= movie.id %>" class="movieCard">
          <h2><%= movie.title %> (<%= movie.releaseYear %>)</h2>
          <img
            src="<%= movie.thumbnail %>"
            alt="<%= movie.title %> Poster"
            height="400px"
            width="300px"
          />
          <p><%= movie.description %></p>
          <p>Rating: <%= movie.rating %> / 10</p>
        </a>
        <% }) %>
      </div>
    </main>
  </body>
</html>
